.container {
  text-align: center;
}
h1 {
  font-size: 80px;
  font-family: Tangerine;
  color: white;
}
h2 {
  color: white;
  font-family: "Cinzel", serif;
  font-size: 50px;
  text-align: center;
}
.head1 {
  text-align: center;
  font-size: 70px;
  font-family: sans-serif;
  opacity: 0.9;
}
img {
  border-radius: 50%;
  width: 100px;
}
.Bio {
  text-align: center;
  float: none;
  color: white;
  font-family: "Cinzel", serif;
  font-size: 30px;
}
ul {
  list-style-type: none;
}
.li {
  font-size: 40px;
  font-family: sans-serif;
}
.resort {
  font-family: monospace;
  color: white;
  font-size: 30px;
}
.ping-pong {
  font-family: monospace;
  color: white;
  font-size: 30px;
}

.curriculum {
  font-family: monospace;
  color: white;
  font-size: 30px;
}
.icon {
  image-resolution: snap;
  width: 30px;
}
.jq {
  width: 30px;
}
.js {
  width: 30px;
}

.myclass {
  color: white;
  font-style: normal;
  font-size: 50px;
}

body {
  background: linear-gradient(110deg, #0f2027 60%, #203a43 60%);
  background-size: cover;
  mix-blend-mode: luminosity;
  background-position: center;
}
.container2 {
  font-style: monospace;
  color: white;
  mix-blend-mode: luminosity;
  font-size: 50px;
}
