h1 {
  font-size: 80px;
  font-family:Tangerine;
  color: white;
}
h2{
  color: white;
  font-family: Tangerine;
  font-size: 50px;
  text-align: center;
}
.head1 {
  text-align:center;
  font-size: 70px;
  font-family:sans-serif;
  opacity: 0.9
}
img {
    border-radius: 50%;
    width: 100px;
}
.Bio{
  text-align: justify;
  float: right;
  color:white;
  font-family:Tangerine;
  font-size: 50px;
}
li {
  font-size: 40px;
  font-family: sans-serif;
}
.resort{
  font-family: monospace;
  color: white;
  font-size: 30px;
}
.ping-pong{
  font-family: monospace;
  color: white;
  font-size: 30px;
}
.icon{
  image-resolution: snap;
  width: 50px;
}
.jq {
  width: 50px;
}
.js {
  width:50px;
}

.myclass{
  color:white;
  font-style: normal;
  font-size: 50px;
}
body {
  background-image: url(../img/Purple-Abstract.jpg);
  background-size: cover;
  background-opacity:0.2;
  background-position:center;
}
.container2 {
  font-style: oblique;
  color: white;
  font-size: 50px;
}
